@tailwind base;
@tailwind components;
@tailwind utilities;
html::-webkit-scrollbar{
    display: none;
}

.scrol::-webkit-scrollbar{
    display: none;
   
}

.Poppins {
  font-family: "Rubik", sans-serif;
  
}



.fade-in {
  opacity: 0;
  animation: fadeInAnimation ease 1s forwards;
}

@keyframes fadeInAnimation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
